## create a series from a list, numpy array and dictionary?

In [13]:
import pandas as pd
import numpy as np
lst=['c','o','f']
s=pd.Series(lst)
print(s)
dct={'c':2,'r':444,'cc':7}
o=pd.Series(dct)
print(o)
arr=np.array(['c','v','n'])
pp=pd.Series(arr)
print(pp)

0    c
1    o
2    f
dtype: object
c       2
r     444
cc      7
dtype: int64
0    c
1    v
2    n
dtype: object

In [14]:
import pandas as pd
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'],
'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'],
'Marks In Percentage': [97, 90, 70, 82],
'Grade': ['A', 'A', 'C', 'B'],
'Subject': ['Physics', 'Physics', 'Physics', 'Physics']})
print(df)

  Roll Number     Name  Marks In Percentage Grade  Subject
0     20CSE29   Amelia                   97     A  Physics
1     20CSE49      Sam                   90     A  Physics
2     20CSE36     Dean                   70     C  Physics
3     20CSE44  Jessica                   82     B  Physics

In [15]:
ps1 = pd.Series([2, 4, 8, 20, 10, 47, 99])
ps2 = pd.Series([1, 3, 6, 4, 10, 99, 50])
print("Series1:")
print(ps1)
print("\nSeries2:")
print(ps2)
print("\nItems of ps1 not present in ps2:")
res = ps1[~ps1.isin(ps2)]
print(res)

Series1:
0     2
1     4
2     8
3    20
4    10
5    47
6    99
dtype: int64

Series2:
0     1
1     3
2     6
3     4
4    10
5    99
6    50
dtype: int64

Items of ps1 not present in ps2:
0     2
2     8
3    20
5    47
dtype: int64

In [19]:
import numpy as np
import pandas as pd
numpyarr=np.array([[1,2,3],[4,5,6]])
panda_df=pd.DataFrame(data=numpyarr,index=["row1","row2"],columns=["column_1","colume_2","column_3"])
print(panda_df)

      column_1  colume_2  column_3
row1         1         2         3
row2         4         5         6