In [9]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, None],
'B': [None, 6, 7, 8],
'C': [9, 10, 11, 12]})
if df.isnull().values.any():
    print("The dataframe has missing values.")
    print(df)
else:
     print("The dataframe has no missing values.")

The dataframe has missing values.
     A    B   C
0  1.0  NaN   9
1  2.0  6.0  10
2  3.0  7.0  11
3  NaN  8.0  12

In [10]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, None, 4],
'B': [None, 6, 7, 8],
'C': [9, 10, 11, 12]})
missing_values_count = df.isnull().sum()
print("Number of missing values in each column:")
print(missing_values_count)

Number of missing values in each column:
A    1
B    1
C    0
dtype: int64

In [11]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, None, 4],
'B': [None, 6, 7, 8],
'C': [9, 10, 11, 12]})
df.fillna(df.mean(), inplace=True)
print("Dataframe after replacing missing values with mean:")
print(df)

Dataframe after replacing missing values with mean:
          A    B   C
0  1.000000  7.0   9
1  2.000000  6.0  10
2  2.333333  7.0  11
3  4.000000  8.0  12

In [12]:
import pandas as pd
data = {'Gender': ['m', 'f', 'f', 'm', 'f', 'm', 'm'],
'Height': [172, 171, 169, 173, 170, 175, 178]}
df = pd.DataFrame(data)
male_group = df[df['Gender'] == 'm']
female_group = df[df['Gender'] == 'f']
male_avg_height = male_group['Height'].mean()
female_avg_height = female_group['Height'].mean()
print("Male Group\n",male_group)
print("Female Group\n",female_group)
print("Average height of Male group:", male_avg_height)
print("Average height of Female group:", female_avg_height)

Male Group
   Gender  Height
0      m     172
3      m     173
5      m     175
6      m     178
Female Group
   Gender  Height
1      f     171
2      f     169
4      f     170
Average height of Male group: 174.5
Average height of Female group: 170.0